@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<section class="account-page register-page">
    <div class="container">
        <h2 style="text-align:center">@TempData["DoesntExist"]</h2>
        <h2 style="text-align:center">@TempData["Success"]</h2>
        <h2 style="text-align:center">@TempData["MailError"]</h2>
        <h2 style="text-align:center">@TempData["PasswordMatch"]</h2>
        <h2 style="text-align:center">@TempData["PasswordError"]</h2>
        <div class="account-wrapper register-wrapper">
            <div class="box" style="height: 480px">
                <form autocomplete="off" method="post">
                    <h2>Şifre Sıfırlama</h2>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="inputBox">
                        <input type="email" asp-for="Input.Email" required="required" />
                        <span>E-Mail</span>
                        <i></i>
                    </div>

                    <div class="inputBox">
                        <input type="password" asp-for="Input.Password" required="required" />
                        <span>Yeni Şifre</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="password" asp-for="Input.ConfirmPassword" required="required" />
                        <span>Yeni Şifre Tekrar</span>
                        <i></i>
                    </div>

                    <button style="margin-top: 60px">Şifre Yenile</button>
                </form>
            </div>
        </div>
    </div>
</section>
